</main>
 
    <footer class="main-footer">
        <p>&copy; 2025 Luis Rodriguez. Todos los derechos reservados.</p>
        <div class="social-links">
            <a href="https://www.facebook.com/1uigix" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/1uigix" target="_blank">Instagram</a>
            <a href="https://wa.me/+584124523599" target="_blank">WhatsApp</a>
            <a href="https://t.me/luigix15" target="_blank">Telegram</a>
            <a href="https://github.com/luigi1501" target="_blank">GitHub</a>
        </div>
    </footer>

    </body>
</html>