<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/menu.js" defer></script>
    <script src="/javascripts/modal.js" defer></script>
    <script src="/javascripts/theme.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5a67d8">
    <meta name="msapplication-TileColor" content="#5a67d8">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
          (function () {
            emailjs.init("MNseVKSK3D6tYwfwV");
          })();;
    </script>   
  </head>
  <body>
    <header class="main-header">
      <div class="logo"><a href="/">Luis Rodriguez</a></div>

        <button id="theme-toggle" aria-label="Alternar Tema Oscuro" class="theme-toggle-btn"> 🌙 </button>

        <button class="menu-toggle" aria-label="Abrir menú" id="menu-toggle"> &#9776; </button>

        <nav class="main-nav" id="main-nav">
          <ul>
            <li><a href="/" class="nav-link">Inicio</a></li>
            <li><a href="/proyectos" class="nav-link">Proyectos</a></li>
            <li><a href="/habilidades" class="nav-link">Habilidades</a></li>
            <li><a href="/#contacto" class="nav-link">Contacto</a></li> 
          </ul>
        </nav>
    </header>
    <main>