# Dependencias de Node
/node_modules
/dist
/build

# Vercel
.vercel

# Variables de entorno
.env

# Archivos de logs
npm-debug.log*
.log
/logs

# Almacenamiento local (VS Code, editor)
.vscode/
.idea/
.history/

# Archivos temporales de compilación o sistema
/temp
*.tmp
*.bak
.DS_Store
Thumbs.db